environment="<Any unique name>"
ip_subnetworks="<name of subnet in us-central>"
project="<GCP Project>"
source_image_family="windows-2016"
source_image_project="windows-cloud"
internal_cidr_ranges=["10.0.1.0/24"]
network="<Name of Network>"
