environment="<Any unique name>"
ip_subnetworks="<name of subnet in us-central>"
project="<GCP Project>"
internal_cidr_ranges=["<Private Subnet for domain controllers/24"]
network="<Name of Network>"
active_directory_domain="<Name of AD domain ie example.com"
reserved_ip_range="<Private Subnet for domain controllers>"